body{
	background-color:  #f2fcfe!important;
}
.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}
.lead{
	color: black;

}
.sirsak a{
	
	color:#8cb4c9  !important ;
	padding-left: 4em;
}
.rec-by{
	padding-left: 3em;
	color: #469DD7;
}
.sub{
	padding-left: 6em;
	color: #21465F;
	text-align: center;
	font-size: 18px;
}
.main-box{
     background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #8cb4c9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #8cb4c9);
}
.recipe-title{
     background: #1c92d2;   /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #8cb4c9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #8cb4c9);;  /* fallback for old browsers */
    
}
.below-recipe-title{
    background:#8cb4c9;
}
.type-box{
    margin-top: 2em;margin-left: 2em;
}
.type-define{
    padding-left: 4em;
}
.type-name{
    margin-left: 2em !important;
    margin-right: 2em;
}
.koder{
    padding-top: 2em;
    padding-bottom: 2em;
}
.all-recipe{
    padding-top: 2em;
    text-align: center;
}
.bottom-material{
    text-align: center;
    size: 9em;
}
.img-th{
    width: 300px !important;
    height: 200px !important;
}
.rec-img{
    height: 400px !important;
    width: 450px !important;
}
.rec-div{
align-items: center;
align-self: start;
}